.section {
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px #999;
  }
  .section__title {
    margin: 0;
    padding: 20px;
    border-bottom: 3px solid #bbb;
  }
  .section__content {
    margin: 0;
    padding: 20px;
  }