.taskList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #bbb;
}

.taskList:last-of-type {
    border-bottom: none;
}

.taskList--hidden {
    display: none;
}

.taskList__button {
    width: 40px;
    height: 40px;
    padding: 10px 12px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.taskList__button--add {
    background-color: #008000;
    color: #008000;
}

.taskList__button--add:hover {
    background-color: #01ae01;
    color: #01ae01
}

.taskList--done .taskList__button--add {
    background-color: #008000;
    color: #fff;
}

.taskList--done .taskList__button--add:hover {
    background-color: #01ae01;

}

.taskList__button--remove {
    background-color: #dc143c;
    color: #fff;
}
.taskList__button--remove:hover {
    background-color: #ec365b;
}

.taskList__taskText {
    padding: 0 15px;
}

.taskList--done .taskList__taskText {
    text-decoration: line-through;
}